{% extends 'base.html' %}

{% block content %}
    <div class="country">
        <h1>Selected Country: {{country[0]}}</h1>
        <hr/>

        <p>You've selected {{country[0]}}. This site will show you different key performance indices for this country.</p>
        <div class="info">
            <h3>{{wiki.title}}</h3>
            <p>{{wiki.summary}}</p>
            <br/>
            <form method="post" action="/subdivision">
                <label for="subdivision">Choose an subdivision:</label>
                <select name="subdivision" id="subdivision">
                    {% for subdiv in adminLevel4 %}
                        <option value="{{ subdiv}}">{{ subdiv[1]}}</option>
                    {% endfor %}
                </select>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="map">
            {{ iframe|safe }}
        </div>

    </div>
    <div>
        <table>
            <tr>
                <th>Subdivision</th>
                <th>Percentage Water Area</th>
                <th>Percentage Forest Area</th>
                <th>Percentage Built-up Area</th>
            </tr>
            {% for subdiv in subdivisions %}
            <tr>
                <td>{{ subdiv['name'] }}</td>
                <td>{{ subdiv['per_water'] }}%</td>
                <td>{{ subdiv['per_forest'] }}%</td>
                <td>{{ subdiv['per_building'] }}%</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
