{% extends 'base.html' %}

{% block content %}
    <div class="country" visibility="invisible">
        <h1>Selected Country: {{country[38]}}</h1>
        <hr/>

        <p>You've selected {{country[38]}}. This site will show you different key performance indices for this country.</p>
        <div class="info">
            <h3>{{wiki.title}}</h3>
            <p>{{wiki.summary}}</p>
        </div>
        <div class="map">
            {{ iframe|safe }}
        </div>

    </div>
    <div>
        <table>
            <tr>
                <th>Community</th>
                <th>Percentage Water Area</th>
                <th>Percentage Forest Area</th>
                <th>Percentage Built-up Area</th>
            </tr>
            {% for community in communities %}
            <tr>
                <td>{{ community['name'] }}</td>
                <td>{{ community['per_water'] }}%</td>
                <td>{{ community['per_forest'] }}%</td>
                <td>{{ community['per_building'] }}%</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
