<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queries</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <nav>
        <a href="{{ url_for('index') }}">Country</a>
        <a href="{{ url_for('querrys') }}">Queries</a>
        <a href="about.html">About</a>
    </nav>

    <h1>Database Queries</h1>
    <br>
    <h2>Predefined Searches</h2>
    <div>
        <div>
            <form>
                <label for="predefinedQuery">Choose a predefined query:</label>
                <!-- Dropdown to choose one of the predefined searches -->
                <select name="predefinedQuery" id="predefinedQuery">
                    <option value="historicalChimneys">Historical Chimneys</option>
                    <option value="commercialBuildings">Commercial Buildings</option>
                    <option value="schools">Schools</option>
                </select>
                <br>
                <!-- Button to run one of the predefined searches -->
                <input type="button" value="Run Query" onclick="runPredefinedQuery()">
            </form>
        </div>
        <br>
        <div>
            <h4>Selected Query:</h4>
            <!-- Textarea to show the SQL-querry of the selected predefined search in the dropdown menu -->
            <label for="selectedQueryDisplay">Selected Query:</label>
            <textarea id="selectedQueryDisplay" rows="5" readonly></textarea>
        </div>
    </div>
    <br>
    <br>
    <h2>Individual Query</h2>
    <br>
    <h3>Search for different amenities</h3>
    <form>
        <!-- Load all unique values of the amenities and show it to select one or more values -->
        <label for="amenity">Choose amenity:</label>
        <select name="amenity" id="amenity" multiple>
            {% for value in amenity_values %}
            <option value="{{ value[0] }}">{{ value[0] }}</option>
            {% endfor %}
        </select>
        <br>
        <!-- Button to add the selected amenity value or values into selected amenities -->
        <input type="button" value="Add" onclick="addAmenity()">
        <br>
        <!-- Selected amenities will be displayed here -->
        <label for="selectedAmenities">Selected Amenities:</label>
        <select name="selectedAmenities" id="selectedAmenities" multiple>
        </select>
        <br>
        <!-- Button to remove the selected amenity value or values from selected amenities -->
        <input type="button" value="Remove" onclick="removeAmenity()">
        <br>
        <!-- Button to remove all amenity values from selected amenities -->
        <input type="button" value="Remove All" onclick="removeAllAmenities()">
        <br>
        <!-- Button to run the query to the postgresql -->
        <input type="button" value="Run Query" onclick="runQuery()">
    </form>

    <h2>SQL Query</h2>
    <!-- Textarea to show the SQL-querry based on the selected amenities -->
    <label for="sqlQuery">SQL Query:</label>
    <textarea id="sqlQuery" rows="5" readonly></textarea>

    <h2>Search Results</h2>
    <!-- Query results will be displayed here -->
    <table id="queryResults">
    </table>

    <script type="text/javascript" src="{{ url_for('static', filename='query.js') }}"></script>

    <script>
        $(document).ready(function () {
            // Run the function on page load
            runPredefinedQuery();

            // Run the function when the selected amenities change
            $("#selectedAmenities").change(function () {
                updateSQLQuery();
            });

            // Run the function when the predefined query changes
            $("#predefinedQuery").change(function () {
                runPredefinedQuery();
            });
        });
    </script>
</body>

</html>